<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="">
  <meta name="viewport" content="width=, initial-scale=">
  <title>Cadastro de Serviços</title>
</head>
<body>
  <h2>Cadastro de Serviços</h2>
  <h4>Dados</h4>
  <form action="" method="post" enctype="multipart/form-data">
    <!-- area de campos do form -->
    <hr />
    <div>
        <div>
            <label>Nome: </label>
            <input type="text" autofocus="" placeholder="Nome">
        </div>

        <div>
            </br>
            <label for="name">Valor: </label>
            <input type="text" placeholder="Valor">
        </div>
    </div>
    
      </br>
      <button type="submit">Salvar</button>
      <button>Cancelar</button>
    </div>
    
</form>
</body>
</html>