<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nova Nota Fiscal</title>
</head>
<body>
  <h2>Cadastro de Nota Fiscal</h2>
  <h4>Dados da Nota</h4>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}
  </br>
  <button type="submit">Salvar</button> <a href="/show_all_notas"> Cancelar</a>
  </div>
  </form>
</body>
</html>