<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Funcionário</title>
</head>
<center><h1>Cadastro de Funcionário</h1></center>
<h4>Dados do Funcionário</h4>
<body>
    <form method="POST" action="/cadastro_func">
        {% csrf_token %} 
        {{ form.as_p }}
        
        {% csrf_token %}
        {{ form_usuario.as_p }}
        
        </br>
        <button type="submit" >Salvar</button>
        <a href="/show_all_func">Cancelar</a>
    </form>
</body>
</html> 