<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Veículo</title>
</head>
<center><h1>Cadastro de Veículo</h1></center>
<h4>Dados do Veículo</h4>
<body>
    <form method="POST" action="/cadastro_veic/{{cliente.registro_pessoal}}">
        {% csrf_token %} 
        {{ form.as_p }}
    </br>
    <button type="submit" >Salvar</button>
    <a href="/show_all_veic">Cancelar</a>
</body>
</html> 