<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Clientes</title>
</head>
<center><h1>Cadastro de Clientes</h1></center>
<h4>Dados do Clientes</h4>
<body>
    <form method="POST" action="/cadastro_cli">
        {% csrf_token %} 
        {{ form.as_p }}
    </br>
    <button type="submit" >Salvar</button>
    <a href="/show_all_cli">Cancelar</a>
</body>
</html> 