<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
</head>
<body>
    <center><h1>Página Inicial</h1></center> <a style="float: right;" href="/deslogar_usuario">Sair do Sistema</a>
    <label>
        Clientes
    </label>
    <ul>
        <li><a href="/show_all_cli">Visualizar Clientes</a></li>
        <li><a href="/cadastro_cli">Cadastrar Cliente</a></li>
    </ul>
    <label>
        Funcionários
    </label>
    <ul>
        <li><a href="/show_all_func">Visualizar Funcionários</a></li>
        <li><a href="/cadastro_func">Cadastrar Funcionário</a></li>
    </ul>
    <label>
        Serviços
    </label>
    <ul>
        <li><a href="/show_all_serv">Visualizar Serviços</a></li>
        <li><a href="/cadastro_serv">Cadastrar Novo Serviço da Empresa</a></li>
    </ul>
    <label>
        Veículos
    </label>
    <ul>
        <li><a href="/show_all_veic">Visualizar Veiculos</a></li>
    </ul>
    <label>
        Notas Fiscais
    </label>
    <ul>
        <li><a href="/show_all_notas">Visualizar Notas</a></li>
    </ul>
    <label>
        Relatórios
    </label>
    <ul>
        <li><a href="">Tipo de Serviço</a></li>
        <li><a href="">Funcionário por Quantidade e Tipo</a></li>
    </ul>
        <label>
            Contagem de Veículos por Serviço:
        </label>
        <ul>
            <li><a href="/relatorio_veiculo_pesado">Pesado</a></li>
            <li><a href="/relatorio_veiculo_aluguel">Aluguel</a></li>
            <li><a href="/relatorio_veiculo_particular">Particular</a></li>
        </ul>
    
</body>
</html>