<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema Lavajato</title>
</head>
<body>
  <form>
      <center><h3>Login Lavajato</h3>
      <div>
          <label for="name">Login:</label>
          <input type="text" autofocus="" placeholder="Login">
      </div>
      <div>
          </br>
          <label for="name">Senha:</label>
          <input type="password" placeholder="Senha">
      </div>
      </br>
	  <button>ENTRAR</button>
      </center>
  </form>
</body>
</html>