<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Geração de Relatórios</title>
</head>
<body>
    <h2>Geração de Relatórios</h2>
  <h4>Intervalo de tempo</h4>
  <form action="" method="post" enctype="multipart/form-data">
    <!-- area de campos do form -->
    <hr />
    <div>
    	</div>
        </br>
        <label for="name">Relatório por:</label>
        </br>
  		<input type="radio" name="tempo" value="semanal" checked> Semana<br>
  		<input type="radio" name="tempo" value="mensal"> Mês<br>
        <input type="radio" name="tempo" value="anual"> Ano<br>
    <div>
    </div>
    
      </br>
      <button type="submit">Gerar</button>
      <button>Cancelar</button>
    </div>
</body>
</html>