<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/semantic.min.css' %}">
    <title>Funcionários Cadastrados</title>
</head>
    <div class="ui compact menu">
        <a class="item" href="/homepage">Página Inicial</a>
    </div>
<center><h1>Funcionários Cadastrados</h1></center>
<a class="ui red button" style="float: right;" href="/deslogar_usuario">Sair do Sistema</a>
<body>
    <table class="ui blue celled table">
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Registro Pessoal</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Função</th>
            </tr>
        </thead>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.matricula }}</td>
                <td>{{ funcionario.registro_pessoal }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.endereco }}</td>
                <td>{{ funcionario.funcao }}</td>
                <td>
                    <div class="small ui buttons">
                        <a class="ui blue basic button" href="/show_func/{{ funcionario.matricula }}">Visualizar</a>
                        <a class="ui yellow basic button" href="/edit_func/{{ funcionario.matricula }}">Editar</a>
                        <a class="ui red basic button" href="/delete_func/{{ funcionario.matricula }}">Deletar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a class="ui blue button" href='/cadastro_func'>Cadastrar Novo Funcionário</a></center>
</body>
</html>