<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visualizar Nota</title>
</head>
<center><h1>Visualizar dados da Nota</h1></center>
<h4>Dados da Nota</h4>
<body>
    <form>
        {% csrf_token %}  
    <!-- area de campos do form -->
    <hr/>
    <div>
        <div>
        </br>
        <label for="id_nota">Nº da nota:</label>
        <input disabled="true" type="text" name="id_nota" id="id_nota"  value="{{ nota.id_nota }}"/>  
    </div>
    <div>
        </br>
        <label for="id_data">Data de Entrada:</label>
        <input disabled="true" type="text" name="data_inicio" id="data_inicio"  value="{{ nota.data_inicio }}"/> 
    </div>
    <div>
        </br>
        <label for="id_finalizacao">Data de finalização:</label>
        <input disabled="true" type="text" name="data_fim" id="data_fim"  value="{{ nota.data_fim }}"/>   
    </div>
    <div>
        </br>
        <label for="id_pagamento">Forma de Pagamento:</label>
        <input disabled="true" type="text" name="forma_pagamento" id="id_pagamento"  value="{{ nota.forma_pagamento }}"/>  
    </div>
    <div>
        </br>
        <label for="id_cliente">Cliente:</label>
        <input disabled="true" type="text" name="cliente_id" id="id_cliente"  value="{{ nota.cliente_id }}"/> 
    </div>
    <div>
        </br>
        <label for="id_funcionario">Funcionario Responsavel:</label>
        <input disabled="true" type="text" name="funcionario_id" id="id_funcionario"  value="{{ nota.funcionario_id }}"/> 
    </div>
    <div>
        </br>
        <label for="id_veiculo">Veiculo:</label>
        <input disabled="true" type="text" name="veiculo_id" id="id_veiculo"  value="{{ nota.veiculo_id }}"/> 
    </div>
    <div>
        <br>
        <label for="id_servico">Serviços: </label>
        <!-- <input disabled="true" type=text name="servico_id" id="id_servico" value={{nota.servico_id}}>  -->
        <table>
                {%for i,j in dados.items%}
                <tr>
                    <td style="text-align: center;">{{i}}</td>
                    <td style="text-align: center;">{{j}}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div>
        <br>
        <label for="total">Preço Total: </label>
        <!-- <input disabled="true" type=text name="servico_id" id="id_servico" value={{nota.servico_id}}>  -->
        {%for i,j in dados1.items%}
            <tr>
                <td style="text-align: center;">{{j}}</td>
            </tr>
        {% endfor %}
        </div>
    </br>
    <div>
        <a href='/../show_all_notas'>Lista de Notas</a>
    </div>
    </div>
</body>
</html>