<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/semantic.min.css' %}">
    <title>Serviços Cadastrados</title>
</head>
    <div class="ui compact menu">
        <a class="item" href="/homepage">Página Inicial</a>
    </div>
<center><h1>Serviços Cadastrados</h1></center>
<a class="ui red button" style="float: right;" href="/deslogar_usuario">Sair do Sistema</a>
<body>
    <table class="ui blue celled table">
        <thead>
            <tr>
                <th>ID Serviço</th>
                <th>Nome</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %}
            <tr>
                <td>{{ servico.id_servico }}</td>
                <td>{{ servico.nome }}</td>
                <td>{{ servico.valor }}</td>
                <td>
                    <div class="small ui buttons">
                        <a class="ui blue basic button" href="/show_serv/{{ servico.id_servico }}">Visualizar</a>
                        <a class="ui yellow basic button" href="/edit_serv/{{ servico.id_servico }}">Editar</a>
                        <a class="ui red basic button" href="/delete_serv/{{ servico.id_servico }}">Deletar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a class="ui blue button" href='/cadastro_serv'>Cadastrar Novo Serviço</a></center>
</body>
</html>